@import "../../global.scss";

.quotes {
    background-color: black;
    color: $mainColor;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        blockquote {
            @include mobile {
                font-size: 20px;
            }
            font-size: 30px;
        }
        cite {
            @include mobile {
                font-size: 15px;
            }
            font-size: 25px;
        }
    }

    hr {
        align: center;
        color: $backgroundColor;
        height: 10px;
        width: 70%;
        margin: 100px auto 0 auto;
        opacity: 1;
    }
}